<form *ngIf=form [formGroup]=form>
  <div class="color-meta">
    <div *ngIf="form.controls['color']" class="color-container first-color">
      <div class="remove-container"></div>
      <wave-color-picker [form]="form.controls['color']"></wave-color-picker>
    </div>
    <div *ngFor="let control of form.controls['secondary_colors'].controls; let i = index"
         class="color-container">
      <div class="remove-container">
        <button (click)="removeColor(i)">-</button>
      </div>
      <wave-color-picker [form]="control"></wave-color-picker>
    </div>
    <div class="color-container">
      <div class="remove-container"></div>
      <button mat-raised-button (click)="addColor()">+</button>
    </div>
  </div>
  <div>
    <mat-label>Pattern</mat-label>
    <mat-select disableOptionCentering formControlName="painter">
      <mat-option *ngFor="let painter of painters" [value]="painter.id">
        {{painter.text}}
      </mat-option>
    </mat-select>
  </div>
  <div>
    Brightness
    <mat-slider formControlName="global_brightness" min="0" max="1" step="0.1"></mat-slider>
    {{form.value.global_brightness}}
  </div>
  <div>
    Speed
    <mat-slider formControlName="speed" min="0.3" max="1" step="0.05"></mat-slider>
    {{form.value.speed}}
  </div>
  <div>
    Fade
    <mat-slider formControlName="fade" min="0.3" max="1" step="0.05"></mat-slider>
    {{form.value.fade}}
  </div>
  <div>
    Directivity
    <mat-slide-toggle formControlName="bidirectional"></mat-slide-toggle>
    {{form.value.bidirectional ? "Bidirectional" : "Unidirectional"}}
  </div>
  <div>
    Fade Style
    <mat-slide-toggle formControlName="fade_after"></mat-slide-toggle>
    {{form.value.fade_after ? "After" : "During"}}
  </div>
  <div class="save">
    <button mat-raised-button (click)=save()>Save</button>
    <button mat-flat-button (click)=load()>Load</button>
  </div>
</form>
